[Unit]
Description=My Python Stuff
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /usr/lib/python3.9/site-packages/python_test/greeting.py

[Install]
WantedBy=multi-user.target